<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="edu.ecnu.tobacco_display.mapper.BakingMapper">

    <!--根据多个条件找烘烤-->
    <select id="findBakingRecordsByOptions" resultType="BakingRecord">
        SELECT
        b.id,
        start_time,
        end_time,
        location,
        parent_location,
        station_id,
        b.device_id AS device_id,
        baking_weight_before,
        baking_weight_after,
        farmer_id,
        technician_id,
        phone,
        nname,
        score,
        loss_rate,
        cyanosis_rate,
        noise_rate,
        yellow_rate,
        bake_pic_before,
        bake_pic_after
        FROM
        (
        SELECT
        br.id,
        start_time,
        end_time,
        location,
        parent_location,
        station_id,
        br.device_id AS device_id,
        baking_weight_before,
        baking_weight_after,
        farmer_id,
        technician_id,
        score,
        loss_rate,
        cyanosis_rate,
        noise_rate,
        yellow_rate,
        bake_pic_before,
        bake_pic_after
        FROM
        baking_records br
        LEFT JOIN ( SELECT location, parent_location,
        device_id, binfo.station_id
        FROM bakehouse_info binfo LEFT JOIN stations
        s ON binfo.station_id = s.station_id ) bi ON br.device_id = bi.device_id
        ) b
        LEFT JOIN (select user_id,phone,nname from user) u on
        <if test="technicianId == null ">
            b.farmer_id= u.user_id
        </if>
        <if test="technicianId != null ">
            b.technician_id= u.user_id
        </if>

        <trim prefix="where" suffixOverrides="and">
            <if test="findStartTime != null ">start_time &gt;= #{findStartTime,jdbcType=TIMESTAMP} and</if>
            <if test="findEndTime != null ">start_time &lt;= #{findEndTime,jdbcType=TIMESTAMP} and</if>

            <if test="location != null ">location = #{location,jdbcType=VARCHAR} and</if>
            <if test="parentLocation != null ">parent_location = #{parentLocation,jdbcType=VARCHAR} and</if>
            <if test="stationId != null ">station_id = #{stationId,jdbcType=VARCHAR} and</if>

            <if test="deviceId != null ">device_id=#{deviceId,jdbcType=VARCHAR} and</if>
            <if test="farmerId != null ">
                (farmer_id=#{farmerId,jdbcType=VARCHAR}
                or phone=#{farmerId,jdbcType=VARCHAR}) and
            </if>
            <if test="technicianId != null ">
                (technician_id=#{technicianId,jdbcType=VARCHAR}
                or phone=#{technicianId,jdbcType=VARCHAR} ) and
            </if>
            <if test="scoreLowerBound >0 ">score &gt;== #{scoreLowerBound,jdbcType=DOUBLE} and</if>
            <if test="scoreUpperBound >0 ">score &lt;== #{scoreUpperBound,jdbcType=DOUBLE} and</if>

            <if test="lossRateUpperBound >0 ">loss_rate &lt;= #{lossRateUpperBound,jdbcType=DOUBLE} and</if>
            <if test="lossRateLowerBound  >0 ">loss_rate &gt;= #{lossRateLowerBound,jdbcType=DOUBLE} and</if>

            <if test="cyanosisRateUpperBound >0 ">cyanosis_rate &lt;= #{cyanosisRateUpperBound,jdbcType=DOUBLE} and</if>
            <if test="cyanosisRateLowerBound  >0 ">cyanosis_rate &gt;= #{cyanosisRateLowerBound,jdbcType=DOUBLE} and
            </if>

            <if test="noiseRateUpperBound >0 ">noise_rate &lt;= #{noiseRateUpperBound,jdbcType=DOUBLE} and</if>
            <if test="noiseRateLowerBound  >0 ">noise_rate &gt;= #{noiseRateLowerBound,jdbcType=DOUBLE} and</if>

            <if test="yellowRateUpperBound >0 ">yellow_rate &lt;= #{yellowRateUpperBound,jdbcType=DOUBLE} and</if>
            <if test="yellowRateLowerBound  >0 ">yellow_rate &gt;= #{yellowRateLowerBound,jdbcType=DOUBLE} and</if>

        </trim>
    </select>

    <update id="alterBakingRecord" parameterType="BakingRecord">
        update baking_records
        set
        <trim prefix="" suffixOverrides=",">

            <if test="startTime != null ">
                start_time=#{startTime,jdbcType=TIMESTAMP} ,
            </if>
            <if test="endTime != null ">
                end_time=#{endTime,jdbcType=TIMESTAMP} ,
            </if>

            <if test="farmerId != null ">
                farmer_id = #{farmerId} ,
            </if>
            <if test="technicianId != null ">
                technician_id=#{technicianId,jdbcType=VARCHAR} ,
            </if>
            <if test="deviceId != null ">
                device_id=#{deviceId,jdbcType=VARCHAR} ,
            </if>

            <if test="bakingWeightBefore >0 ">
                baking_weight_before=#{bakingWeightBefore,jdbcType=DOUBLE} ,
            </if>
            <if test="bakingWeightAfter >0 ">
                baking_weight_after=#{bakingWeightAfter,jdbcType=DOUBLE} ,
            </if>
            <if test="score >0 ">
                score=#{score,jdbcType=DOUBLE} ,
            </if>
            <if test="lossRate >0 ">
                score=#{loss_rate,jdbcType=DOUBLE} ,
            </if>
            <if test="cyanosisRate >0 ">
                score=#{cyanosis_rate,jdbcType=DOUBLE} ,
            </if>
            <if test="noiseRate >0 ">
                score=#{noise_rate,jdbcType=DOUBLE} ,
            </if>
            <if test="yellowRate >0 ">
                score=#{yellow_rate,jdbcType=DOUBLE} ,
            </if>
            <if test="tobaccoInfo != null ">
                tobacco_info=#{tobaccoInfo,jdbcType=VARCHAR} ,
            </if>

            <if test="bakePicBefore != null ">
                bake_pic_before=#{bakePicBefore,jdbcType=VARCHAR} ,
            </if>

            <if test="bakePicAfter != null ">
                bake_pic_after=#{bakePicAfter,jdbcType=VARCHAR} ,
            </if>


        </trim>
        where id = #{id,jdbcType=VARCHAR}
    </update>

    <insert id="saveBakingRecord" parameterType="BakingRecord">

        INSERT INTO baking_records (device_id, start_time,
                                    end_time, baking_weight_before,
                                    baking_weight_after,
                                    tobacco_info, farmer_id,
                                    technician_id,
                                    score,
                                    loss_rate,
                                    cyanosis_rate,
                                    noise_rate,
                                    yellow_rate, bake_pic_before,
                                    bake_pic_after)
        values (#{deviceId,jdbcType=VARCHAR},
                #{startTime,jdbcType=TIMESTAMP},
                #{endTime,jdbcType=TIMESTAMP},
                #{bakingWeightBefore,jdbcType=DOUBLE},
                #{bakingWeightAfter,jdbcType=DOUBLE},
                #{tobaccoInfo,jdbcType=VARCHAR},
                #{farmerId,jdbcType=VARCHAR},
                #{technicianId,jdbcType=VARCHAR},
                #{score,jdbcType=DOUBLE},
                #{lossRate,jdbcType=DOUBLE},
                #{cyanosisRate,jdbcType=DOUBLE},
                #{noiseRate,jdbcType=DOUBLE},
                #{yellowRate,jdbcType=DOUBLE},
                #{bakePicBefore,jdbcType=VARCHAR},
                #{bakePicAfter,jdbcType=VARCHAR})

    </insert>

    <delete id="deleteBakingRecord" parameterType="BakingRecord">
        DELETE
        FROM baking_records
        WHERE id = #{id,jdbcType=VARCHAR}
    </delete>

</mapper>