<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="edu.ecnu.tobacco_display.mapper.DetailRoastedTobaccoMapper">

    <select id="findDetailByOptions" resultType="DetailRoastedTobacco">
        select * from bakehouse_sensors
        <trim prefix="where" suffixOverrides="and">
            <if test="startTime != null ">produce_date &gt; #{startTime,jdbcType=TIMESTAMP} and</if>

            <if test="endTime != null ">produce_date &lt; #{endTime,jdbcType=TIMESTAMP} and</if>

            <if test="location != null ">location = #{location,jdbcType=VARCHAR} and</if>

            <if test="equipmentNo != null ">equipment_No = #{equipmentNo,jdbcType=VARCHAR} and</if>

            <if test="dryBallTemp != -999 ">dry_ball_Temp &lt; #{dryBallTemp,jdbcType=DOUBLE} and</if>
            <if test="wetBallTemp != -999 ">wet_ball_Temp &lt; #{wetBallTemp,jdbcType=DOUBLE} and</if>
            <if test="dryBallTarget != -999 ">dry_ball_target &lt; #{dryBallTarget,jdbcType=DOUBLE} and</if>
            <if test="wetBallTarget != -999 ">wet_ball_target &lt; #{wetBallTarget,jdbcType=DOUBLE} and</if>
        </trim>
    </select>


</mapper>