<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="edu.ecnu.tobacco_display.mapper.DeviceMapper">

    <!--根据多个条件找烤房-->
    <select id="findDeviceByOptions" resultType="Device">
        select bi.device_id,bi.address,s.parent_location,
        s.location,bi.head,bi.head_phone,bi.kind,
        bi.create_time,bi.device_name,bi.sensors,bi.group_id,
        bi.GPS,bi.elevation,bi.fuel_type,bi.specifications_room,
        bi.supplier_device, bi.airflow_mode,bi.structural_form,
        bi.beneficiary_entity,bi.technician_id,
        technician_name,technician_phone,
        s.station_id,s.station_name
        from (select * from bakehouse_info bake_info
        left join (select user_id,nname as technician_name,
        phone as technician_phone
        from user) u on bake_info.technician_id=u.user_id) bi
        left join stations s
        on bi.station_id=s.station_id
        <trim prefix="where" suffixOverrides="and">
            <if test="head != null ">bi.head = #{head,jdbcType=VARCHAR} and</if>
            <if test="deviceId != null ">bi.device_id=#{deviceId,jdbcType=VARCHAR} and</if>
            <if test="deviceName != null ">bi.device_name=#{deviceName,jdbcType=VARCHAR} and</if>
            <if test="headPhone != null ">bi.head_phone=#{headPhone,jdbcType=VARCHAR} and</if>
            <if test="kind >0 ">bi.kind=#{kind,jdbcType=INTEGER} and</if>
            <if test="location != null ">s.location=#{location,jdbcType=VARCHAR} and</if>
            <if test="parentLocation != null ">s.parent_location=#{parentLocation,jdbcType=VARCHAR} and</if>
            <if test="stationId != null ">bi.station_id=#{stationId,jdbcType=VARCHAR} and</if>
            <if test="groupId != null ">bi.group_id=#{groupId,jdbcType=VARCHAR} and</if>

        </trim>
    </select>

    <update id="alterDeviceInfo" parameterType="Device">
        update bakehouse_info
        set
        <trim prefix="" suffixOverrides=",">
            <if test="head != null ">
                head = #{head,jdbcType=VARCHAR} ,
            </if>
            <if test="headPhone != null ">
                head_phone=#{headPhone,jdbcType=VARCHAR} ,
            </if>
            <if test="address != null ">
                address=#{address,jdbcType=VARCHAR} ,
            </if>
            <if test="stationId != null ">
                station_id=#{stationId,jdbcType=VARCHAR} ,
            </if>
            <if test="sensors != null ">
                sensors=#{sensors,jdbcType=VARCHAR} ,
            </if>
            <if test="groupId != null ">
                group_id=#{groupId,jdbcType=VARCHAR} ,
            </if>
            <if test="GPS != null ">
                GPS=#{GPS} ,
            </if>
            <if test="elevation != null ">
                elevation=#{elevation} ,
            </if>
            <if test="fuelType != null ">
                fuel_type=#{fuelType} ,
            </if>
            <if test="specificationsRoom != null ">
                specifications_room=#{specificationsRoom} ,
            </if>
            <if test="supplierDevice != null ">
                supplier_device=#{supplierDevice} ,
            </if>
            <if test="airflowMode != null ">
                airflow_mode=#{airflowMode} ,
            </if>
            <if test="structuralForm != null ">
                structural_form=#{structuralForm} ,
            </if>
            <if test="beneficiaryEntity != null ">
                beneficiary_entity=#{beneficiaryEntity} ,
            </if>
            <if test="technicianId != null ">
                technician_id=#{technicianId} ,
            </if>

        </trim>
        where device_id = #{deviceId,jdbcType=VARCHAR}
    </update>

    <insert id="saveDeviceInfo" parameterType="Device">

        INSERT INTO bakehouse_info (device_id, device_name,
                                    head, head_phone, address,
                                    kind,create_time, station_id,
                                    group_id,GPS,elevation,
                                    fuel_type,specifications_room,
                                    supplier_device,airflow_mode,
                                    structural_form,beneficiary_entity,
                                    technician_id)
        values (#{deviceId,jdbcType=VARCHAR},
                #{deviceName,jdbcType=VARCHAR},
                #{head,jdbcType=VARCHAR},
                #{headPhone,jdbcType=VARCHAR},
                #{address,jdbcType=VARCHAR},
                #{kind,jdbcType=VARCHAR},
                #{createTime,jdbcType=TIMESTAMP},
            #{stationId,jdbcType=VARCHAR},
            #{groupId,jdbcType=VARCHAR},
            #{GPS},
            #{elevation},
            #{fuelType},
            #{specificationsRoom},
            #{supplierDevice},
            #{airflowMode},
            #{structuralForm},
            #{beneficiaryEntity},
            #{technicianId})

    </insert>

    <delete id="deleteDevice" parameterType="Device">
        DELETE
        FROM bakehouse_info
        WHERE device_id = #{deviceId,jdbcType=VARCHAR}
    </delete>

</mapper>