<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="edu.ecnu.tobacco_display.mapper.UserMapper">


    <insert id="save" parameterType="User">

        INSERT INTO user (user_id, phone, password, nname, category, head_img, create_time)
        values (#{userId,jdbcType=VARCHAR}, #{phone,jdbcType=VARCHAR}, #{password,jdbcType=VARCHAR},
                #{nname,jdbcType=VARCHAR}, #{category,jdbcType=VARCHAR}, #{headImg,jdbcType=VARCHAR},
                #{createTime,jdbcType=TIMESTAMP})

    </insert>

    <update id="alterUserInfo" parameterType="User">
        update user
        set
        <trim prefix="" suffixOverrides=",">
            <if test="nname != null ">nname = #{nname,jdbcType=VARCHAR} ,</if>
            <if test="phone != null ">phone=#{phone,jdbcType=VARCHAR} ,</if>
            <if test="password != null ">password=#{password,jdbcType=VARCHAR} ,</if>
        </trim>
        where user_id = #{userId,jdbcType=VARCHAR}
    </update>


    <!--根据用户id查询用户信息-->
    <select id="findByUserId" resultType="User">

        select *
        from user
        where user_id = #{userId}

    </select>


    <!--根据（用户号或者手机号）和密码找用户-->
    <select id="findByUserIdAndPassword" resultType="User">

        select *
        from user
        where (user_id = #{user_id})
          and password = #{password}


    </select>


</mapper>